.big_outer {
    height: 12.0em;
    margin: 0em 0 0em 0;
    padding: 4.8em 0 5em 0;
}

.big_inner {    
    overflow: hidden;
    height: 14.1em;
}

.big_news {
    height: 14.2em;
    padding: 0.1em 2em 0 0;
    background: rgba(91, 38, 106, .5);
    margin-bottom: 6em;
    transform: translateY(0em);    
}

.big_picture {
    float: left;
    width: 22.8em;
    height: 12.8em;
    margin: 0.6em 2em 0 0.65em;
    background: rgba(26, 81, 286, .5);
    background-size: 101%;
    background-position: center;
}

.big_picture:after {
    content:var(--copyright-var);
    float: left;
    padding:0 0.2em;
    margin-top: 52.8%;
    text-transform: uppercase;
    font: 0.62em Montserrat;
    font-weight: 500;
    color:#d6d6d6;
    background: rgba(11, 11, 11, 0.5);
}

.big_header {
    font: 2.8em Montserrat;
    font-weight: 700;
    color: #f2f2f2;
    line-height: 1.17em;
}

.big_text {
    font: 1.7em Montserrat;
    font-weight: 500;
    color: #1aaec9;
    margin-top: 0.1em;
}

.big_motion {
    animation: motion_big 1.2s cubic-bezier(.55, .33, .33, 1) 0.2s 1 forwards running;
}

@keyframes motion_big {
    0% {transform: translateY(0em); margin-bottom: 6em;}
    100% {transform: translateY(-16.6em); margin-bottom: 2em;}
}