* {
    margin: 0;
    padding: 0;    
}

body {
    margin: 0;
    padding: 0;
    background-color: transperent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 1vw;
}

.fullscreen_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: black;
}

#background_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.hiddenText {
    display: none;
}

.frame {
    padding: 0em 7em 3.9em 7em;
    background: #1b0750;
}


.bbcLogo {
    position:absolute;
    top:1.8em;
    left:5.9em;
    padding: 0 0.4em;
    font: 1.2em Montserrat;
    font-weight: 700;
    color:#282264;
    --my-color-var: #b5109c;
    background-color: var(--my-color-var);
}





