.small_inner {
    overflow: hidden;
    height: 30.6em;
}

.small_news {
    height: 5.7em;
    padding: 0.3em 04em 0 0.6em;
    background: rgba(91, 38, 106, .5);
    margin-bottom: 2.0em;       
    transform: translateY(0em);
}

.small_picture {
    float: left;
    width: 8.7em;
    height: 4.9em;
    margin: 0.3em 1.2em 0 0em;
    background: rgba(50, 62, 93, .5);
    background-size: 101%;
    background-position: center;
}

.small_picture:after {
    content:var(--copyright-var);
    float: left;
    padding:0 0.2em;
    margin-top: 50.9%;
    text-transform: uppercase;
    font: 0.44em Montserrat;
    font-weight: 500;
    color:#d6d6d6;
    background: rgba(11, 11, 11, 0.5);
}

.small_header {
    font: 1.5em Montserrat;
    font-weight: 700;
    color: #f2f2f2;
    line-height: 1.17em;
}

.small_text {
    font: 1.2em Montserrat;
    font-weight: 500;
    letter-spacing: normal;
    color: #1aaec9;
    margin-top: 0.1em;
}

.small_motion {
    animation: motion_small 1.2s cubic-bezier(.55, .33, .33, 1) 0.0s 1 forwards running;
}

@keyframes motion_small {
    0% {transform: translateY(0em);}    
    100% {transform: translateY(-8em);}
}